{
    "env": {
        "es6": true,
        "browser": true,
        "commonjs": true
    },

    "globals": {
        "user": true,
        "validation": true,
        "error": true,
        "success": true
    }
}
