<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>credibility.io</title>
  <link rel="stylesheet" media="screen" href="public/css/bundle.css">
</head>
<body>
    <div id="credibility"><%- reactOutput %></div>
<script src="public/js/bundle.js"></script>
</body>
</html>
