.category-list{
    margin-top: 20px;
    background-color: #eaeeef;
    .group{
        width: 90%;
        display:block;
        >a:first-child{
            display:block;
            font-weight: bold;
            margin-top: 10px;
        }
    }
    .child{
        font-size: 0.8em;
    }
    .category-link{
        margin-right: 10px;

    }
    a, a:link, a:visited{
        color: #666;
    }
}
