.category-list{
    margin-top: 10px;
    background-color: #eaeeef;
    .group{
        width: 90%;
        display: block;
        flex-direction: row;
        >a:first-child{
            display:block;
            margin-top: 10px;
        }
    }
    .category-group {
        display: flex;
        flex-flow: row wrap;
        .child {
            flex-basis: auto;
        }
    }
    .child{

        font-size: 0.8em;
    }
    .category-link{
        padding-right: 10px;

    }
    a, a:link, a:visited{
        color: #666;
    }
}
