.typeahead {
    &> div {
        width: 100%;
    }
    input.autocomplete {
        @extend .form-control;
        padding: 0.375rem 0.75rem;
        width: 100%;
        &+ div {
            z-index:3000;
        }
    }

    .typeahead-option{
        padding: 10px;
        cursor: default;

        &.highlighted {
            color: white;
            background: hsl(200, 50%, 50%);
        }
    }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    input[type="date"].form-control, .typeahead input[type="date"].autocomplete, input[type="time"].form-control, .typeahead input[type="time"].autocomplete, input[type="datetime-local"].form-control, .typeahead input[type="datetime-local"].autocomplete, input[type="month"].form-control, .typeahead input[type="month"].autocomplete{
        line-height: 1.5;
    }
}
