
@mixin panel{
    padding: 10px;
}
@mixin panel-body{
}

.story-list{
    ul{
        list-style: none;
        padding-left: 0px;
    }
    .story-link{
        >div{
            border: 1px solid #eee;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
            .domain_name{}
            .author{}
            .created_at{}
        }
    }
}

.story-group{
    &.left{
        background-color: $left-color-background;
        padding: 15px;
    }
    &.fact{
        @include panel;
        //@include fact-colored-panel;
        div{
            @include panel-body;
        }
    }
    &.right{
        @include panel;
        //@include right-colored-panel;
        div{
            @include panel-body;
        }
    }
}

.story-timeline{
    padding-bottom: 100px;
    &>div.line{
        border-left: 5px solid darken(powderblue, 30%);
        @extend .col-md-12;
        @extend .col-md-12;
        /* @extend .col-md-offset-1 */;
    }
    ul{
        list-style: none;
        padding-left: 10px;
    }
    .time{
        background-color: white;
        color: darkcyan;
        @media (min-width: 992px){
            margin-left: -20px;
            border-bottom: 1px solid #eee;
            line-height: 40px;
        }
        line-height: 30px;
    }
    .story-link{

        a{font-family: Serif;color: #545454;}
        &>div.info{
            padding: 15px;
            a{font-size: 16px; font-size: 1.3em;}
            .domain_name{ color: #777;}
            .author{}
            .created_at{ color: #999;}
        }
    }

    .type{
        &-0{
            @extend .col-md-4;
            background-color:  $fact-color-background;
            .story-link{
                border-bottom: 1px solid darken($fact-color-background, 10%);
            }
            .story-link:last-child {border-bottom: none;}
        }
        &-1{
            @extend .col-md-4;
            background-color: $left-color-background;
            .story-link{
                border-bottom: 1px solid darken($left-color-background, 10%);
            }
            .story-link:last-child {border-bottom: none;}
        }
        &-2{
            @extend .col-md-4;
            background-color: $right-color-background;
            .story-link{
                border-bottom: 1px solid darken($right-color-background, 10%);
            }
            .story-link:last-child {border-bottom: none;}
        }

    }
}
