.topic{
    .right-sidebar {
        h2{
            font-size: 1.5em;
        }
    }
}
.recent-topics{
    margin-top: 20px;
    background-color: #f7f7f9;
    .topic-link, a, a:link, a:visited{
        width: auto;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 20px;
        font-size: 0.9em
    }
}
