.topic{
    .right-sidebar {
        h2{
            font-size: 1.5em;
        }
    }
}
.recent-topics{
    margin-top: 20px;
    background-color: #fafafa;
    a, a:link, a:visited{
        font-size: 0.8em
    }
}
