.header{
    .container{
        padding-bottom: 10px;
    }
    .brand{
        small{
            font-size: 18px;
            color: lightgray;
            margin-top: -20px;
        }
    }
}

.explain{
    border: 1px solid #3a9ee1;
    padding: 5px;
    border-radius: 4px;
    background-color: rgba(57, 193, 250, 0.29);
}

.footer{
    background-color: rgba(57, 193, 250, 0.29);
    margin-top:10px;
    padding: 10px;
}

.copyright{
    padding-top: 10px;
    font-weight: strong;
}

.latest{
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
        li{
            margin-bottom: 10px;
        }
    }
}

.topic-link{
    .title a{
        font-size: 18px;
    }
    .stats{
        margin-left: -20px;
    }
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    padding:10px;
}

.topic-stats{
    background-color:#0eb540;
    padding-top: 10px;
    padding-bottom: 10px;
    .left{background-color: #000; color: white}
    .right{background-color: #fff; color: black}
}

.topic{
    .details{
        margin-bottom: 20px;

    }
    .left .story-list{
        background-color: #ccc;
    }
    .center .story-list{
        background-color: #eee;
    }
    .right .story-list{
        background-color: #ddd;
    }
}

.story-list{
    ul{
        list-style: none;
        padding-left: 0px;
    }
}

.story-link{
    border: 1px solid black;
}

.tag{
    a, a:link, a:visited{
        color: lightgray;
    }
}

.categories{
    ul{
        padding-left: 20px;
    }
}
