.topic{
    .details{
        margin-bottom: 20px;
        display: table;
        @media (max-width: 768px){
            margin-bottom: 0px;
        }
        .title{
            display: table-cell;
            padding-right: 100px;
        }
        .meta{
            display: table-cell;

        }
    }
    .articles-num, .views-num{
        .colored-panel(#eee, #bbb);
        margin-left: 10px;
        color: #666;
        display: inline-block;
        font-size: 24px;
        vertical-align: middle;
        .text{
            display: block;
            font-size: 14px;
        }
        @media (max-width: 768px){
            font-size: 18px;
            .text{
                font-size: 12px;
            }
        }
        @media (max-width: 614px){
            width: 100%;
            margin-bottom: 5px;
        }
    }
    .views-num{
        .colored-panel(#dcff7f, #e4e05f);
    }
}

.topic-link{
    .title a{
        font-size: 18px;
    }
    .stats{
        text-align: right;
        padding-right:15px;
    }
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    padding:10px;
}

.topic-stats{
    background-color: rgba(234, 238, 239, 1.00);
    padding: 0px;
    h4{
        margin-bottom: 5px;
    }
    a, a:link, a:visited{
        color: #666;
    }

    .articles-num{
        margin-left: 5px;
    }

    .tag {
        a, a:link, a:visited{
            color: #aaa;
            margin-bottom: 10px;
        }
        margin-bottom: 12px;
    }

    .topic-col-stats{
        line-height: 25px;
        text-align: center;
        .number{
            font-size: larger;
            font-weight: bolder;
        }
    }
    .left{
        .left-colored-panel;
    }
    .fact{
        .fact-colored-panel;
    }
    .right{
        .right-colored-panel;
    }
}
